In [1]:
def analyze_students(students):
    # Step 1: Find the student with the highest average marks
    highest_avg = 0
    top_student = ""

    for student in students:
        avg_marks = sum(student["marks"]) / len(student["marks"])
        if avg_marks > highest_avg:
            highest_avg = avg_marks
            top_student = student["name"]

    # Step 2: Create a dictionary mapping subjects to sets of unique marks
    subject_marks = {}

    for student in students:
        for idx, subject in enumerate(student["subjects"]):
            if subject not in subject_marks:
                subject_marks[subject] = set()
            subject_marks[subject].add(list(student["marks"])[idx % len(student["marks"])])

    return top_student, subject_marks

# Test case
students = [
    {"name": "Alice", "subjects": ["Math", "Science"], "marks": {90, 85, 88}},
    {"name": "Bob", "subjects": ["Math", "English"], "marks": {78, 80, 85}},
    {"name": "Charlie", "subjects": ["Science", "English"], "marks": {92, 88, 95}}
]

print(analyze_students(students))

('Charlie', {'Math': {88, 80}, 'Science': {88, 90}, 'English': {92, 85}})